@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 100;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
   width: 58px; 
   height: 50px;
   border-style: outset;
   border-width: thin;
   box-shadow: none;
   border-color: rgb(25, 25, 25);
   padding: 0;
   margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 232px;
    border-radius: 5px;
    box-shadow: 1px 1px 7px;
    color: black;
}



/*          Screen          */



.screen {
    height: 70px;
    width: 232px;
    background-color: rgb(87, 87, 86);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
}

.operation {
    height: 14px;
    font-size: 12px;
    margin: 10px 0 0 10px; 
}

.display {
    font-size: 32px;
    align-self: flex-end;
    margin:0 10px 10px 0;
    font-weight: 400;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
   
}



/*          Buttons         */



.number-button,
.decimal-button {
    background-color: rgb(127, 127, 126);
}

.operator-button,
.equals-button {
    background-color: rgb(255, 148, 41);
}

.dark {
    background-color: rgb(72, 72, 72);
}

.number-button:focus,
.clear-button:focus,
.decimal-button:focus,
.delete-button:focus {
    background-color: rgb(168, 168, 168);
}

.operator-button:focus {
    background-color: rgb(197, 107, 18)
}

.clear-button,
.zero {
    width: 116px;
}

.zero {
    border-bottom-left-radius: 5px;
}
.equals-button {
    border-bottom-right-radius: 5px;
}